<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script language="javascript" type="text/javascript">
    var data = $(function() {
        navigator.geolocation.getCurrentPosition(showPosition, positionError);
        function showPosition(position){
            var coords = position.coords;
            var data={ lat: JSON.stringify(coords.latitude), lng: JSON.stringify(coords.longitude) };
            $.post("/Home/updateSessionCoords", data);
        }
        function positionError(position){
            alert("Could not get location data");
        }
    });
</script>


@model website.Models.MessageSubmissionModel;
@{
    ViewData["Title"] = "Grapevine";
}

<div class="d-flex justify-content-center">
    @using (Html.BeginForm("submitMessage", "Home", FormMethod.Post)){
        @Html.TextAreaFor(m => m.messageContent, new { Class="form-control input-lg", rows="20", cols="100"})
        <br />
        <div class="d-flex justify-content-center">
            <input type="Submit" value="Place message" class="submitButton"/>
        </div>
    }
</div>
