<link rel="stylesheet" href="~/css/indexStyles.css">

<h5>Have you ever wanted to drop a signpost by whatever it was you were doing?</h5>
<div id="glass-pane" class="ui-widget-content" >
  <div class="text">Hosting an event?</div>
  <img src="~/img/party.jpeg" />
</div>  
<div id="glass-pane" class="ui-widget-content">
  <div class="text">Know a path less travelled?</div>
  <img src="~/img/path.jpeg" />
</div>  
<div id="glass-pane" class="ui-widget-content" >
  <div class="text">Leave something somewhere?</div>
  <img src="~/img/stone.jpeg"/>  
</div>  
<h5>Mark it off by leaving a message on the grapevine!</h5>