@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This app collects the following information:</p>
<ul>
    <li>
        Location of the device that posted a message at the time a message is posted
    </li>
</ul>